<div class="page">

	<header class="page-header">
		<nav class="page-nav">
			<ul>
				<li class="page-nav__li">
					<a href="#" class="page-nav__item">colLAB</a>
				</li>
				<li class="page-nav__li">
					<a href="#" class="page-nav__item">Search</a>
				</li>
				<li class="page-nav__li">
					<a href="#" class="page-nav__item">Me</a>
				</li>
			</ul>
		</nav>
  </header>
</div>
<section class="categories section" id="categories">
    <h2 class="categories__title section__title">Categories</h2>

</section>
<section class="threads section" id="threads">
    <h2 class="threads__title section__title">Threads</h2>

</section>
<section class="thread section" id="thread">
    <h2 class="thread__title section__title">Thread</h2>
</section>
