
<h4>main-content main-contentmain-contentmain-contentmain-contentmain-content</h4>
<mat-card >
<h4>main-content</h4>
  <mat-card-content >
      <mat-input-container style="width:100%">
            <input [formControl]="addPostControl" (change)="handleChange($event)" name="body"  matInput placeholder="Enter Post" required maxlength="100">
          </mat-input-container>
      <button mat-raised-button color="primary" (click)="sendPost()" >Post</button>
  </mat-card-content>
</mat-card>

<section *ngFor="let post of posts">
  <mat-card>
      <i class="fa fa-user-o fa-3x" aria-hidden="true"></i>
      <span>{{post.createdDate | date:'medium'}}</span>
      <p>{{post.body}}</p>
  </mat-card>
</section>

