<app-collab-header> </app-collab-header>
<router-outlet></router-outlet>
<mat-grid-list cols="4" rowHeight="500px" gutterSize="15px">
    <mat-grid-tile
    [colspan]="1"
    [rowspan]="1"
    [style.background]='"lightblue"'>
    <app-left-outlet [categories]='categories'></app-left-outlet>
</mat-grid-tile>
    <mat-grid-tile class="grid-test-1"
        [colspan]="2"
        [rowspan]="1"
        [style.background]='"lightgreen"' >

        <mat-grid-tile-header>Main Page2</mat-grid-tile-header>
<!-- <app-default-main-content></app-default-main-content> -->
<!-- <mat-grid-tile-footer>footer</mat-grid-tile-footer> -->
<router-outlet name='center'></router-outlet>
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        [style.background]='"lightblue"'>
        <mat-grid-tile-header>Right Outlet</mat-grid-tile-header>
        <!-- <app-right-outlet></app-right-outlet> -->
    </mat-grid-tile>
  </mat-grid-list>
<!-- <input type="text" #newquery
[value]="query"
(keydown.enter)="submit(newquery.value)">
<button (click)="submit(newquery.value)">Search</button> -->
<!-- <div class="page">

	<header class="page-header">
		<nav class="page-nav">
			<ul>
				<li class="page-nav__li">
          <a href="#" class="page-nav__item">colLAB</a>
          <i class="fa fa-superpowers" aria-hidden="true"></i>
          <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </li>

				<li class="page-nav__li">
					  <form action="#" class="page-nav__item">
                <div class="page-nav__container">
                   <input type="text" name="name" class="page-form__field" id="page-form__name">
                </div>
            </form>
				</li>
				<li class="page-nav__li">
					<a href="#" class="page-nav__item">Me</a>
				</li>
			</ul>
		</nav>
  </header>

  <section class="categories section" id="categories">
      <h2 class="categories__title section__title">Categories</h2>
      <a class="categoriess__title section__title categoriess__title--add-reply" href="#">
           Add Category
      </a>
      <ul class="categories__list">
          <li>
            <a class="categories__item" href="#">
              #Angular
            </a>
          </li>
          <li>
              <a class="categories__item" href="#">
                #React
              </a>
          </li>
          <li>
                <a class="categories__item" href="#">
                  #Node
                </a>
          </li>
      </ul>

  </section>
  <section class="threads section" id="threads">
      <h2 class="threads__title section__title">Threads</h2>
      <p class="threads__intro-text section__intro-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
     </p>

     <ul class="threads__list">
        <li class="threads__item threads--1">
          <div class="threads__item-icon"></div>
          <h3 class="threads__item-username">
            Don
          </h3>
          <h3 class="threads__item-datetime">
              Dec 21st at 6.00 AM
          </h3>
          <p class="threads__item-message">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio at vel, incidunt quo laborum rerum adipisci.
          </p>
          <a class="threads__item threads__item--replies" href="#">
              Replies
          </a>
          <a class="threads__item threads__item---add-reply" href="#">
              Add Reply
          </a>
        </li>
        <li class="threads__item threads--2">
            <div class="threads__item-icon"></div>
            <h3 class="threads__item-username">
              Ben
            </h3>
            <h3 class="threads__item-datetime">
                Dec 20th at 9.00 PM
            </h3>
            <p class="threads__item-message">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio at vel, incidunt quo laborum rerum adipisci.
            </p>
            <a class="threads__item threads__item--replies" href="#">
                Replies
            </a>
            <a class="threads__item threads__item---add-reply" href="#">
                Add Reply
            </a>
        </li>
    </ul>

      <hr />

      <form action="#" class="threads-form">
          <div class="threads-form__container">
             <input type="text" name="name" class="threads-form__field" id="threads-form__name">
          </div>
      </form>
  </section>
  <section class="thread section" id="thread">
      <h2 class="thread__title section__title">Thread</h2>
  </section>
</div> -->
